/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
  font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
  background-color: black;
  height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
  font-size: 4.5rem;
}

body {
  background-color: #24292e;
}

h1 {
  font-family: "Handjet", cursive;
  text-align: center;
  color: #bba5a5;
  font-size: 7rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

h2 {
  font-family: "Tilt Prism", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

h3 {
  color: white;
  text-align: center;
  font-family: fantasy;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 5rem;
}

h5 {
  border-bottom: 1px solid;
}

h8 {
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  color: #b6b2bf;
}

/* Feature Images */
img {
  height: 30rem;
  width: 45rem;
  border-radius: 1rem;
  order: 2;
}

div.col.l6.col.s12 {
  margin-top: 5px;
}

div.col.l4.offset-l2.col.s12 {
  margin-top: 5px;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.card {
  border-radius: 1rem;
  background-color: black;
}

/* Mentor Details */
.card-content {
  text-align: center;
}

.card-content span {
  border-bottom: 2px solid;
}

.card .card-content {
  padding-bottom: 0%;
}

.col.s12 {
  margin-top: 10rem;
}

.row {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.input-field {
  margin-bottom: 0px;
  color: white;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
}

/* Resource Library Card Title */
.card-title {
  color: white;
}

/* Coding Challenge cards */
.challenge-card {
  width: 35%;
  margin: 3rem;
}

/* Coding Challenges image */
.challenge-image {
  height: 15rem;
  width: 25rem;
  margin: 2px;
}

/* Coding Challenge Titles */
.challenge-title {
  font-family: "Courier New", Courier, monospace;
  color: red;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.card .card-content .card-title {
  margin-bottom: 1rem;
}

.footer-container {
  padding: 10px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  padding: 0%;
  margin-top: 1rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

/* Tooltip explaining more info is on back of card */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  bottom: 113%;
  left: 98%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: wrap;
  border: 7px solid black;
  font-family: monospace;
  font-weight: 600;
}
/******************************************/
/* ID Selectors */
/******************************************/
/* Coding Challenges Container */
#challenges-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Coding Challenges search bar */
#challenge-search {
  width: 90%;
  margin: 5rem;
  border-radius: 2rem;
}

/* Coding Challenges contents container */
#coding-contents-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
/* Tooltip explaining more info is on back of card */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
