/******************************************/
/* Variable Selectors */
/******************************************/
/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
  font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
  background-color: black;
  height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
  font-size: 4.5rem;
}

body {
  background-color: #24292e;
}

h1 {
  font-family: "Preahvihear", sans-serif;
  font-size: 25px;
  text-align: center;
  color: antiquewhite;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  background-color: #ddd;
  border-radius: 5px;
  padding: 3px;
}

h5 {
  border-bottom: 1px solid;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
}

button {
  color: #b6b2bf;
}

/* Removing default button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #b6b2bf;
  background-color: #24292e;
  transition: background-color 0.3s;
}

/* User Question Form */
form.col.col.s12 {
  height: auto;
  width: 70rem;
  background-color: black;
  border-radius: 2rem;
  padding: 8rem;
  margin-top: 0px;
}

div.col.l6.col.s12 {
  margin-top: 5px;
}

div.col.l4.offset-l2.col.s12 {
  margin-top: 5px;
}

div.card-action {
  position: relative;
  bottom: 4rem;
}

span.card-title {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  border-bottom: 4px solid;
  margin-bottom: 3px;
}

/* Questions search bar input */
input#search {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 2rem;
  padding-bottom: 7px;
  padding-top: 7px;
}

span#stack-title.card-title {
  position: relative;
  top: -55px;
}

div#stack-card-action {
  position: relative;
  top: 0px;
}

ul {
  text-align: left;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.card-action {
  display: flex;
  justify-content: center;
}

.card .card-action {
  background: none;
  padding: 10px;
}

.card {
  border-radius: 1rem;
  background-color: black;
}

/* Mentor Details */
.card-content {
  text-align: center;
}

.card-content span {
  border-bottom: 2px solid;
}

.card .card-content {
  padding-bottom: 0%;
}

.col.s12 {
  margin-top: 10rem;
}

.row {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.input-field {
  margin-bottom: 0px;
  color: white;
}

/* Dynamically generated questions container */
.card.blue-grey.lighten-5 {
  margin: 3rem;
  padding: 2rem;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
}

/* Resource Library Card Title */
.card-title {
  color: white;
}

.card .card-content .card-title {
  margin-bottom: 1rem;
}

/* Question and Response Cards */
.questionCard {
  position: relative;
  margin: 2rem;
  padding: 1rem;
  width: 35rem;
  height: 25rem;
}

.question-card-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.footer-container {
  padding: 10px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  padding: 0%;
  margin-top: 1rem;
}
.footer-copyright {
  display: flex;
  justify-content: center;
}

.stack-list {
  margin: 15px;
  font-size: 15px;
  padding: 3px;
  text-decoration: underline;
  font-weight: bold;
}
/******************************************/
/* ID Selectors */
/******************************************/
#learn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#question-input.materialize-textarea {
  padding: 0%;
}

/* Question and Response Card Container */
#QuestionsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#answer-text {
  margin-top: 1rem;
  margin-bottom: 0%;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

#modalContent {
  padding: 0px;
}

#submit-answer-btn {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  background-color: #b6b2bf;
  border-radius: 7px;
}

/* Question search bar */
#stack-search {
  width: 90%;
  margin: 5rem;
  border-radius: 2rem;
}

#stack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#stack-content {
  background-color: black;
  border-radius: 5px;
  width: 30rem;
}

#stack-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#stack-ul {
  position: relative;
  bottom: 25px;
}
/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
#submit-answer-btn:hover {
  color: red;
  font-weight: 700;
  border-radius: 7px;
}
