/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
  font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
  background-color: black;
  height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
  font-size: 4.5rem;
}

body {
  background-color: #24292e;
}

h5 {
  border-bottom: 1px solid;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  color: #b6b2bf;
}

div.col.l6.col.s12 {
  margin-top: 5px;
}

div.col.l4.offset-l2.col.s12 {
  margin-top: 5px;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* Mentor Card Container */
.mentor-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col.s12 {
  margin-top: 10rem;
}

/* Add Mentor Button */
.centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.row {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.modal {
  background-color: black;
  border: 2px solid white;
  border-radius: 2rem;
}

.footer-container {
  padding: 10px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  padding: 0%;
  margin-top: 1rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}
/******************************************/
/* ID Selectors */
/******************************************/
#mentorship-body {
  background-image: url(/assets/images/mentorship-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
