/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/

/******************************************/
/* Element Selectors */
/******************************************/
nav {
  background-color: black;
  height: 5rem;
}

body {
  background-color: #24292e;
}
/******************************************/
/* Class Selectors */
/******************************************/
/* DropDown Icon */
.dropdown-icon-btn {
  margin-left: auto;
  margin-right: 2rem;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: none;
  color: white;
  cursor: pointer;
}

/* DropDown Content */
.dropdown-content {
  margin-left: auto;
  right: 0;
  left: auto;
}

/* DropDown Content a Tags */
.dropdown-content li a {
  color: #333333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* Logo Icon */
nav .brand-logo {
  font-size: 4.5rem;
}
/******************************************/
/* ID Selectors */
/******************************************/

/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
